
header {
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    padding-top: 40px;
}

#logo {
    height: 60px;
}

.grey-text {
    color: grey;
}

.link {
    color: #4EA0FF;
    text-decoration: none;
}

.thead {
    text-align: left;
    background-color: #4EA0FF;
    color: white;
}

.skyblue-lines {
    background-color: #B1E5F2;
}

table {
    border-collapse: collapse;
}

.width-cells {
    width: 25%;
}

.related-article {
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

#monitor {
    background-image: url('../img/monitor.jpg');
}

#graph {
    background-image: url('../img/graph.jpg');
}