.container {
    background-color: rgb(0, 136, 255);
    width: auto;
    height: 150px;
    background-image: url('./img/pattern.png');
    background-position: top;
    
}

.logo{
    width: 150px;
    height: 100px;
    position: relative;
    bottom: 1px;
}
   
